html{
    color: white;
    background-color: black;
}
h1{
    width: 100%;
    text-align: center;
}
h2{
    width: 75%;
    text-align: center;
}
#Name{
    display: flex;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
}
.container{
    display: flex;
    width: 95vw;
    height: 50vw;
    justify-content: space-around;
    flex-wrap: wrap;
}

.interest{
    background-color: darkblue;
    padding: 5px;
    width: 50%;
    height: 10vw;
    text-align: center;
    border: lightblue 2px solid;
}